@import "../../_colors.scss";
.main {
    background-color: $color-auth-bg;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__card {
        width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 480px) {
            width: 90%;
        }

        &__languages {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

            button {
                margin: 0 5px;
                padding: 5px 10px;
                box-shadow: none;
                border-radius: 5px;
                outline: none;
                border: 0;
                background-color: #fff;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #ccc;
                }

                &.active {
                    background-color: #ccc;
                }
            }
        }

        &__title {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        &__form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            &__error{
                border-bottom: 1px solid $error-color;
                display: block;
                padding: 3px 5px;
                background-color: #fdfdfd;
                color: $error-color;
                font-size: 12px;
                width: 100%;
            }

            &__line {
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }

            &__input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                outline: none;
                transition: all 0.3s ease-in-out;
                border: 0;
                border-bottom: 1px solid lightblue;

                &::placeholder {
                    color: #ccc;
                }

                &:focus {
                    border-color: #000;
                }
            }

            &__button {
                width: 100%;
                padding: 16px;
                border: 0;
                border-radius: 5px;
                outline: none;
                background-color: #444;
                color: #fff;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #333;
                }
            }

            &__p {
                color: #333;

                &__link {
                    text-decoration: underline;
                    color: #444;
                    font-size: 14px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #2e49a8;
                    }
                }
            }
        }
    }
}
