// colors
$color-primary: #1e88e5;
$color-primary-light: #64b5f6;

// Auth bg color
$color-auth-bg: #f5f5f5;

// Error colors
$error-color: #f44336;

// Layout colors
$background-color: #2A3447;
$button-color: #5D87FF;

// Sidebar colors
$link-color: #7c8fac;
$active-link-color: #2A3447;
$hover-link-color: #5d87ff;
$hover-button-color: rgba(93,135,255,.1);
